* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	font-family: 'Montserrat', sans-serif;
	
}

form{
	margin-left: 10px;
}

.index_bg {
	background-image: url(/static/wave1.png);
	height: 100vh;
	background-position: center;
	background-size: cover;
}


.btn{
	
	margin-left: 10px;
	margin-bottom: 50px;
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	
}

.alert-heading{
font-size: 36px;
}

.q1{
	font-size: 24px;
}

footer{
	margin: 0 auto;
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: black;
	color: white;
}