{% extends "base.html" %} {% block title %} Quiz App {% endblock %} {% block
body_main %}
<div class="index_bg">
	<div class="container">
		<div class="row">
			<div class="col">1 of 1</div>
			<div class="row mt-5 align-items-center">
				<div class="col d-flex text-center">
					<h2>
						Welcome to the Python Quiz App <br /><br />

						<button
							class="btn btn-dark"
							type="button"
							data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasExample"
							aria-controls="offcanvasExample"
						>
							Check Yourself
						</button>

						<div
							class="offcanvas offcanvas-start text-bg-dark"
							tabindex="-1"
							id="offcanvasExample"
							aria-labelledby="offcanvasExampleLabel"
						>
							<div class="offcanvas-header" data-bs-theme="dark">
								<h3 class="offcanvas-title" id="offcanvasExampleLabel">
									Choose your quiz
								</h3>
								<button
									type="button"
									class="btn-close"
									data-bs-dismiss="offcanvas"
									aria-label="Close"
								></button>
							</div>
							<br>
							<br>
							<div class="offcanvas-body">
								<div>
									Test your knowledge of Python
								  </div>
								<div class="dropdown-center mt-3">
									<button
										class="btn btn-secondary dropdown-toggle"
										type="button"
										data-bs-toggle="dropdown"
									>
									Quizzes
									</button>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="{{ url_for('quiz1') }}"
												>Quiz No1</a
											>
										</li>
										<li>
											<a class="dropdown-item" href="{{ url_for('quiz2') }}"
												>Quiz No2</a
											>
										</li>
										<li>
											<a class="dropdown-item" href="{{ url_for('quiz3') }}"
												>Quiz No3</a
											>
										</li>
										<li>
											<a class="dropdown-item" href="{{ url_for('quiz4') }}"
												>Quiz No4</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</h2>
				</div>
				<div class="col">
					<img
						src="{{ url_for('static', filename='quiz41.jpg') }}"
						class="rounded mx-auto d-block"
					/>
				</div>
			</div>
			<div class="row mt-5">
				<div>
					Python Quiz App by Sebastian Słoma &copy;2023
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
