{% extends "base.html" %} 

{% block title %} Quiz No1 {% endblock %} 
{%block body_main %}
<div class="container text-start">
	<div class="row mt-5">
		<div class="col"></div>
	</div>
	<div class="row mt-5">
		<div class="col"></div>
	</div>
	<div class="row text-center">
		<div class="col"><h1>Quiz No2</h1></div>
	</div>
</div>
<div>
	<form method="POST">
		{% for q in questions %}
		<p>
			{{ q.question }}
			<br />

			{% set qnr = loop.index0 %} {% for o in q.answers %}
			<label>
				<input type="radio" value="{{ o }}" name="{{ qnr }}" />
				{{ o }}
			</label>
			<br />
			{% endfor %}
		</p>
		{% endfor %}

		<button type="submit" class="btn btn-dark">Check answers</button>
	</form>
</div>
<div class="row mt-5">
	<div class="col with-margin" style="text-align: left">
		Python Quiz App by Sebastian Słoma &copy;2023
	</div>
</div>
{% endblock %}
