{% extends "base.html" %}

{% block title %} Quiz No2 {% endblock %}

{% block
  body_main %}
  <div class="container text-start">
    <div class="row mt-5">
      <div class="col"></div>
    </div>
    <div class="row mt-5">
      <div class="col"></div>
    </div>
    <div class="row text-center">
      <div class="col"><h1>Quiz No2</h1></div>
    </div>
  </div>
  <div>
  <form method="POST">
    {% for q in questions_2 %}
    <p>
      {{ q.question }}
      <br />
      {% set num = loop.index0 %} 
      {% for a in q.answer %}
      <label>
        <input type="radio" value="{{ a }}" name="{{ ans }}" />
        {{ a }}
      </label>
      <br />
      {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Check answers</button>
  </form>
  </div>
  {% endblock %}