{% extends "base.html" %} {% block title %} Quiz No1 {% endblock %}

{% block body_main %}
<div class="container text-start">
    <div class="row mt-5">
        <div class="col"></div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
    </div>
    <div class="row text-center">
        <div class="col"><h2>Quiz No1</h2></div>
    </div>
    <div class="row">
      <div class="col">
        <p>Ile masz palców u rąk?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              8
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              10
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              15
            </label>
          </div>
      </div>
      <div class="col">
        <p>Ile masz palców u rąk?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              8
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              10
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              15
            </label>
          </div>
      </div>
      <div class="col">
        <p>Ile masz palców u rąk?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              8
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              10
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              15
            </label>
          </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col">
          <p>Ile masz palców u rąk?</p>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                8
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                10
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3">
              <label class="form-check-label" for="flexRadioDefault3">
                15
              </label>
            </div>
        </div>
        <div class="col">
            <p>Ile masz palców u rąk?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  8
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  10
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  15
                </label>
              </div>
          </div>
          <div class="col">
            <p>Ile masz palców u rąk?</p>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  8
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  10
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                  15
                </label>
              </div>
          </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center"><button type="submit" class="btn btn-primary">Check answers</button></div>
    </div>
    
</div>

<form method="GET">
	{% for q in questions %}
	<p>
		{{ q.question }} 
        {% set qst = loop.index0 %} 
        {% for a in q.answers %}
		<label>
			<input type="radio" value="{{ a }}" name="{{ qst }}" />
			{{ o }}
		</label>
		<br />
		{% endfor %}
	</p>
	{% endfor %}
</form>
{% endblock %}






